.wrapper {
  max-width: 70rem; /* 70rem =  1120px */
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 256px 1fr;

  gap: 2rem;
  align-items: flex-start; /* sempre ficar alinhado no topo */
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}
